XSD/Posts.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="posts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:attribute name="Id" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="PostTypeId" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="CreationDate" type="xs:dateTime" use="optional" />
            <xs:attribute name="ViewCount" type="xs:unsignedInt" use="optional" />
            <xs:attribute name="OwnerUserId" type="xs:int" use="optional" />
            <xs:attribute name="Tags" type="xs:string" use="optional" />
            <xs:attribute name="ParentId" type="xs:unsignedInt" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>